.right {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.right h1 {
    font-size: 40px;
}
.right h2 {
    position: relative;
    right: 20%;
}
.signup {
    border-radius: 20px;
    background-color: skyblue;
    width: 50%;
    text-align: center;
}
.left {
    color: red;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: row;
    /* background-color: #fff; */
    width: 100dvw;
    height: 100dvh;
}
